<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articleOverview ANY>
<!ATTLIST articleOverview id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT gridPage ANY>
<!ATTLIST gridPage id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1076" key="8b0b2f25-c11e-4a38-8f77-891476e9c20c" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-02-08T10:42:04" updateDate="2017-03-24T10:32:52" nodeName="Home" urlName="home" path="-1,1076" isDoc="" nodeType="1053" creatorName="Camilla Olesen" writerName="Camilla Olesen" writerID="0" template="1052" nodeTypeAlias="homePage">
    <metaDescription><![CDATA[Homepage where the introduction to the site happens]]></metaDescription>
    <metaKeywords><![CDATA[homepage, web developers, index, projects]]></metaKeywords>
    <umbracoNaviHide>0</umbracoNaviHide>
    <logo><![CDATA[2091]]></logo>
    <mainContent><![CDATA[<h3>Welcome to our site!</h3>
<p>This is the Aarhus Web Development Coop site! </p>
<p>This site is a united cooporation of web developers seeking to make the best possible sites. We are the best web developers in Denmark.</p>
<p>On this site you can see our completed projects, news and other stuff. If you are a member of the site, you can see other projects too, that are not yet completed.</p>
<p>I hope you'll have fun looking around the website!</p>
<p> </p>
<p> </p>]]></mainContent>
    <footer><![CDATA[© Spring 2017]]></footer>
    <projectsOverview id="1077" key="09dd1fc8-c139-4172-8112-9f9b099137ba" parentID="1076" level="2" creatorID="0" sortOrder="0" createDate="2017-02-08T10:45:49" updateDate="2017-02-08T10:45:49" nodeName="Projects" urlName="projects" path="-1,1076,1077" isDoc="" nodeType="1069" creatorName="Camilla Olesen" writerName="Camilla Olesen" writerID="0" template="1068" nodeTypeAlias="projectsOverview">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectItem id="1083" key="114a9b58-631b-4687-9d45-56377f3f325c" parentID="1077" level="3" creatorID="0" sortOrder="0" createDate="2017-02-08T12:32:33" updateDate="2017-03-24T10:37:50" nodeName="Our website idea" urlName="our-website-idea" path="-1,1076,1077,1083" isDoc="" nodeType="1074" creatorName="Camilla Olesen" writerName="Camilla Olesen" writerID="0" template="1073" nodeTypeAlias="projectItem">
        <metaDescription><![CDATA[This is our top priority idea at the moment]]></metaDescription>
        <metaKeywords><![CDATA[project, idea]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>22</projectStatus>
        <projectTitle><![CDATA[Website for this firm]]></projectTitle>
        <projectDescription><![CDATA[<p>We have just started thinking about making this website different. This is the beginning of a bigger idea-process.</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1084" key="c0231989-5676-41af-89d9-740e178c24c3" parentID="1077" level="3" creatorID="0" sortOrder="1" createDate="2017-02-08T12:33:08" updateDate="2017-03-24T10:38:29" nodeName="Shop for catowners" urlName="shop-for-catowners" path="-1,1076,1077,1084" isDoc="" nodeType="1074" creatorName="Camilla Olesen" writerName="Camilla Olesen" writerID="0" template="1073" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>23</projectStatus>
        <projectTitle><![CDATA[Catowner shop]]></projectTitle>
        <projectDescription><![CDATA[<p>We've begun the project for the cat shop. It will be good..</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1085" key="21b569b5-6f83-4633-a543-2a2b8e3e8a4f" parentID="1077" level="3" creatorID="0" sortOrder="2" createDate="2017-02-08T12:33:33" updateDate="2017-03-24T10:40:11" nodeName="Gaming convention website" urlName="gaming-convention-website" path="-1,1076,1077,1085" isDoc="" nodeType="1074" creatorName="Camilla Olesen" writerName="Camilla Olesen" writerID="0" template="1073" nodeTypeAlias="projectItem">
        <metaDescription><![CDATA[This project is under development]]></metaDescription>
        <metaKeywords><![CDATA[project, under development, work in progress]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>24</projectStatus>
        <projectTitle><![CDATA[Gaming convention onepage]]></projectTitle>
        <projectDescription><![CDATA[<p>This is going to be so exciting. We are nearly done and we cannot wait to see how the customers will react!</p>]]></projectDescription>
      </projectItem>
      <projectItem id="2092" key="f61639e8-e630-4bd7-a895-17c199d364ca" parentID="1077" level="3" creatorID="0" sortOrder="3" createDate="2017-02-15T11:53:27" updateDate="2017-03-24T10:35:40" nodeName="1st project" urlName="1st-project" path="-1,1076,1077,2092" isDoc="" nodeType="1074" creatorName="Camilla Olesen" writerName="Camilla Olesen" writerID="0" template="1073" nodeTypeAlias="projectItem">
        <metaDescription><![CDATA[The first completed project]]></metaDescription>
        <metaKeywords><![CDATA[project, success, completed]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>25</projectStatus>
        <projectTitle><![CDATA[1st project - Jysk Website]]></projectTitle>
        <projectDescription><![CDATA[<p>Hurray! We just used a bunch of months to complete the newest website for Jysk Sengetøjslager. It's such an amazing opportunity. </p>
<p> </p>]]></projectDescription>
      </projectItem>
      <projectItem id="2093" key="e1f4b084-15ea-486e-8d6b-1fd66d5034c9" parentID="1077" level="3" creatorID="0" sortOrder="4" createDate="2017-02-15T15:35:44" updateDate="2017-03-24T10:42:21" nodeName="2nd project (hidden)" urlName="2nd-project-hidden" path="-1,1076,1077,2093" isDoc="" nodeType="1074" creatorName="Camilla Olesen" writerName="Camilla Olesen" writerID="0" template="1073" nodeTypeAlias="projectItem">
        <metaDescription><![CDATA[Our second completed project]]></metaDescription>
        <metaKeywords><![CDATA[project, success, completed]]></metaKeywords>
        <umbracoNaviHide>1</umbracoNaviHide>
        <projectStatus>25</projectStatus>
        <projectTitle><![CDATA[2nd project - Firm optimizer (hidden for now)]]></projectTitle>
        <projectDescription><![CDATA[<p>We've hit the goal of 2000 subs on Youtube! And we've just made our newest project and completed it! (Not ready for publishing)</p>]]></projectDescription>
      </projectItem>
      <projectItem id="3124" key="ecb213b8-c937-4d94-96e8-0c3bea2ca002" parentID="1077" level="3" creatorID="0" sortOrder="5" createDate="2017-03-21T09:09:26" updateDate="2017-03-25T11:34:46" nodeName="Active members only project" urlName="active-members-only-project" path="-1,1076,1077,3124" isDoc="" nodeType="1074" creatorName="Camilla Olesen" writerName="Camilla Olesen" writerID="0" template="1073" nodeTypeAlias="projectItem">
        <metaDescription><![CDATA[Secret project for active members only]]></metaDescription>
        <metaKeywords><![CDATA[active member, hidden project, secret]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>25</projectStatus>
        <projectTitle><![CDATA[Only for active members]]></projectTitle>
        <projectDescription><![CDATA[<p>This project is secret.. shh!</p>]]></projectDescription>
      </projectItem>
    </projectsOverview>
    <articleOverview id="1078" key="426beda2-5a4c-46fe-873e-5fd8da45d472" parentID="1076" level="2" creatorID="0" sortOrder="1" createDate="2017-02-08T10:46:01" updateDate="2017-02-08T10:46:01" nodeName="Articles" urlName="articles" path="-1,1076,1078" isDoc="" nodeType="1061" creatorName="Camilla Olesen" writerName="Camilla Olesen" writerID="0" template="1060" nodeTypeAlias="articleOverview">
      <umbracoNaviHide>0</umbracoNaviHide>
      <articleItem id="1080" key="34771dd8-7610-440e-86a7-3f2622d13fd8" parentID="1078" level="3" creatorID="0" sortOrder="0" createDate="2017-02-08T12:29:55" updateDate="2017-02-08T12:29:55" nodeName="Web developer" urlName="web-developer" path="-1,1076,1078,1080" isDoc="" nodeType="1065" creatorName="Camilla Olesen" writerName="Camilla Olesen" writerID="0" template="1064" nodeTypeAlias="articleItem">
        <metaDescription><![CDATA[developer]]></metaDescription>
        <metaKeywords><![CDATA[developer, webdevelopment]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p>This is where all the developers are listed.</p>]]></articleContent>
        <articleTitle><![CDATA[New developers]]></articleTitle>
      </articleItem>
      <articleItem id="1081" key="664b3f66-e43e-4910-a640-ac9d30c6e426" parentID="1078" level="3" creatorID="0" sortOrder="1" createDate="2017-02-08T12:30:48" updateDate="2017-02-08T12:30:48" nodeName="News in WD" urlName="news-in-wd" path="-1,1076,1078,1081" isDoc="" nodeType="1065" creatorName="Camilla Olesen" writerName="Camilla Olesen" writerID="0" template="1064" nodeTypeAlias="articleItem">
        <metaDescription><![CDATA[WD]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p>Just now there's a new language called...</p>]]></articleContent>
        <articleTitle><![CDATA[New programming language]]></articleTitle>
      </articleItem>
      <articleItem id="1082" key="dc9380bc-4fd1-4ccf-9705-c547759a1e0a" parentID="1078" level="3" creatorID="0" sortOrder="2" createDate="2017-02-08T12:31:28" updateDate="2017-02-08T12:31:28" nodeName="Frontend" urlName="frontend" path="-1,1076,1078,1082" isDoc="" nodeType="1065" creatorName="Camilla Olesen" writerName="Camilla Olesen" writerID="0" template="1064" nodeTypeAlias="articleItem">
        <metaDescription><![CDATA[frontend]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p>This is where the newest info about frontend is...</p>]]></articleContent>
        <articleTitle><![CDATA[New magic design grid]]></articleTitle>
      </articleItem>
    </articleOverview>
    <textPage id="1079" key="ab7ee76c-0337-47c7-8a86-71651f880873" parentID="1076" level="2" creatorID="0" sortOrder="2" createDate="2017-02-08T12:29:03" updateDate="2017-03-24T10:47:40" nodeName="Info" urlName="info" path="-1,1076,1079" isDoc="" nodeType="1057" creatorName="Camilla Olesen" writerName="Camilla Olesen" writerID="0" template="1056" nodeTypeAlias="textPage">
      <metaDescription><![CDATA[textpage]]></metaDescription>
      <metaKeywords><![CDATA[text, page]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
      <header><![CDATA[<h3>Information</h3>]]></header>
      <mainContent><![CDATA[<p>This is where we will show important information, that you need to read in case something important is happening, that you cannot miss!</p>]]></mainContent>
    </textPage>
    <gridPage id="1090" key="ed194d16-3233-4278-ad6c-3bd3c29b534c" parentID="1076" level="2" creatorID="0" sortOrder="3" createDate="2017-02-08T12:56:02" updateDate="2017-03-24T10:51:56" nodeName="About Us" urlName="about-us" path="-1,1076,1090" isDoc="" nodeType="1088" creatorName="Camilla Olesen" writerName="Camilla Olesen" writerID="0" template="1087" nodeTypeAlias="gridPage">
      <metaDescription><![CDATA[grid layout]]></metaDescription>
      <metaKeywords><![CDATA[grid]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
      <standardGridPage><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "About Us",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2090,
                    "image": "/media/1002/test-skills-of-web-developer.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><strong>Vision</strong></p>\n<p>Our vision is to make the greatest websites around the world! We strive to become some of the best web developers and make websites that are very user-friendly and give the users great experiences. It can be tough to make great websites, but we are getting there!</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><strong>People</strong></p>\n<p>We are 5 people in our firm. It is growing fast and we need more people. We need developers that are interested and excited to be part of our amazing team. We need someone who can boost our community and be a part of our Youtube channel. We need to keep our fans and customers in the know!</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><strong>Skills</strong></p>\n<p>We have different sorts of skills. Some of us are good at frontend and others are better at the backend. We try to help each other in making the best we can and offer each other the best kind of help and guidance. If you think your skills are sufficient, then please contact us. We would love to hear from you!</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "label": "Grid Page",
          "hasConfig": false,
          "id": "b79bbd63-20a6-1a7e-654f-e47ddb7e49ea",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></standardGridPage>
    </gridPage>
    <sitemap id="2098" key="75a416ce-8551-4996-bb97-89062159549e" parentID="1076" level="2" creatorID="0" sortOrder="4" createDate="2017-02-15T15:51:49" updateDate="2017-03-25T10:58:27" nodeName="Sitemap" urlName="sitemap" path="-1,1076,2098" isDoc="" nodeType="2097" creatorName="Camilla Olesen" writerName="Camilla Olesen" writerID="0" template="2094" nodeTypeAlias="sitemap">
      <metaDescription><![CDATA[Sitemap over the structure of the website]]></metaDescription>
      <metaKeywords><![CDATA[sitemap, overview]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
    </sitemap>
    <contactPage id="2101" key="2d72853d-fc6b-4d91-a75a-44d49ed1f5df" parentID="1076" level="2" creatorID="0" sortOrder="5" createDate="2017-02-22T09:15:41" updateDate="2017-02-22T09:15:41" nodeName="Contact Us" urlName="contact-us" path="-1,1076,2101" isDoc="" nodeType="2100" creatorName="Camilla Olesen" writerName="Camilla Olesen" writerID="0" template="2099" nodeTypeAlias="contactPage">
      <umbracoNaviHide>0</umbracoNaviHide>
    </contactPage>
    <login id="3122" key="f408b273-121f-42bb-b6bd-d7bd049c3fe4" parentID="1076" level="2" creatorID="0" sortOrder="6" createDate="2017-03-08T10:55:52" updateDate="2017-03-25T10:58:03" nodeName="Login" urlName="login" path="-1,1076,3122" isDoc="" nodeType="3121" creatorName="Camilla Olesen" writerName="Camilla Olesen" writerID="0" template="3120" nodeTypeAlias="login">
      <metaDescription><![CDATA[A login formular]]></metaDescription>
      <metaKeywords><![CDATA[login, username, password]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
    <textPage id="3123" key="f9fef699-3ee3-4c3a-9309-e3c345386d6c" parentID="1076" level="2" creatorID="0" sortOrder="7" createDate="2017-03-21T09:05:53" updateDate="2017-03-25T10:57:43" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1076,3123" isDoc="" nodeType="1057" creatorName="Camilla Olesen" writerName="Camilla Olesen" writerID="0" template="1056" nodeTypeAlias="textPage">
      <metaDescription><![CDATA[Forbidden access that will show if you try to access a project, when logging in as a Guest member and not an Active member]]></metaDescription>
      <metaKeywords><![CDATA[forbidden, access,]]></metaKeywords>
      <umbracoNaviHide>1</umbracoNaviHide>
      <header><![CDATA[<h3>Forbidden Access</h3>]]></header>
      <mainContent><![CDATA[<p><strong>Attention!</strong> You are not an Active member and you do not have access to this page.</p>]]></mainContent>
    </textPage>
    <members id="3130" key="c91fbdd3-60a6-42c2-9c9b-7053d8e0cb13" parentID="1076" level="2" creatorID="0" sortOrder="8" createDate="2017-03-21T09:57:23" updateDate="2017-03-25T10:57:02" nodeName="Members" urlName="members" path="-1,1076,3130" isDoc="" nodeType="3128" creatorName="Camilla Olesen" writerName="Camilla Olesen" writerID="0" template="3126" nodeTypeAlias="members">
      <metaDescription><![CDATA[List of the members of the site]]></metaDescription>
      <metaKeywords><![CDATA[members, active, guest]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
  </homePage>
</root>