@import "_bootstrap-variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-compass";
@import "custom";


.testing {
width: percentage(4/7);
}

.navbar-default {
    background-color: $navbar-default-bg;
    border-color: $navbar-default-border;
}

.navbar-brand {
    color: $navbar-default-brand-color;
    &:hover,
    &:focus {
        color: $navbar-default-brand-hover-color;
        background-color: $navbar-default-brand-hover-bg;
    }
}

// this is a test